<ion-header>
  <ion-toolbar color="dark">
    <ion-title>C Comp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        This is C component
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-start">
            <ion-button size="small" color="tertiary" (click)="goToAComp()">Go to A-Comp</ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end">
            <ion-button size="small" color="dark" (click)="goToBComp()" style="float: right;">Go to B-Comp</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum explicabo laborum deleniti. Mollitia dolorum,
        reprehenderit nam in cupiditate id laboriosam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        adipisci ab dolorum voluptate eaque iure aspernatur officia est facilis assumenda nesciunt illo. Autem illum
        dicta consequuntur assumenda vitae eveniet molestias aperiam corrupti alias, cumque accusamus error officia ad
        aut, modi voluptate quidem nulla magni magnam minima velit ratione eligendi? Corporis minima possimus magni
        laudantium illo reprehenderit fugit molestiae labore, modi ipsam maxime! Quia possimus totam quibusdam odio
        dolore tempore commodi non cumque. Quam est, asperiores id consequuntur laboriosam quia alias corrupti
        voluptatem autem? Commodi omnis, nostrum nesciunt ab voluptatum nihil ipsam excepturi nobis qui velit dolore
        aliquam suscipit dolor numquam doloremque in culpa! Libero odit, fugiat officia adipisci similique nobis
        doloribus nihil. Beatae vel molestiae maiores accusantium sint dolore. Officia, dolores dicta quidem ipsum vero
        iste veritatis eveniet reiciendis autem adipisci illo aperiam ad, corporis tempore assumenda maiores. Eum qui
        necessitatibus hic eius voluptas nobis! Expedita deserunt at iusto nostrum magnam sapiente accusamus
        consequuntur, dolore quasi inventore odit nisi velit officiis, numquam rerum dicta aliquam aliquid doloribus
        laudantium amet, exercitationem ducimus nesciunt quaerat? Sit saepe nemo ipsam, hic neque labore explicabo
        praesentium quam error veritatis veniam est amet quasi maiores officiis quia laboriosam repellat mollitia id
        laudantium sunt laborum non. Ullam voluptatum quam expedita rem eos laboriosam, dolorem earum suscipit? Quod,
        nisi labore aperiam molestiae reiciendis ad exercitationem? Ut hic enim fuga recusandae odio explicabo dolorum
        molestias aliquam amet omnis eum nemo tempore, ex, quos id animi impedit delectus illum tempora et temporibus.
        Non eaque saepe laborum possimus, sunt quisquam neque asperiores, distinctio nisi id est reiciendis quaerat
        nobis eos. Rem totam iste incidunt quos ut quisquam dolorum. Maxime vero aspernatur earum culpa assumenda neque
        libero, explicabo alias obcaecati molestiae hic ea dolore deserunt aliquid asperiores necessitatibus nam ut
        modi. Obcaecati sapiente vitae inventore recusandae nihil quas ut ducimus eligendi quia praesentium cupiditate
        tempore enim totam odit nesciunt, impedit provident nostrum magnam cum, ex, quam ullam aperiam deleniti at!
        Accusamus dolorem quisquam quibusdam repudiandae. Vel aperiam provident nostrum. Suscipit, soluta sed. Facere
        corporis unde esse perferendis ratione soluta, consequuntur veniam enim doloribus vero facilis accusamus
        sapiente dolorem. Totam, natus architecto. Ullam dolores, ab odit obcaecati suscipit eius necessitatibus
        consectetur qui ad mollitia praesentium. Sapiente officiis molestiae iste in animi nam harum quidem dolorem,
        provident quaerat, veritatis nisi ad quas delectus voluptatibus. Velit autem esse quos consectetur quis
        voluptatem! Ratione inventore, laborum, doloribus animi voluptas quidem iste illo incidunt facere voluptatem
        consequuntur, quo officia natus nisi ab nemo eligendi! Repellendus voluptates, praesentium velit corporis iste
        ipsam, reprehenderit aperiam sed assumenda ipsum odit minus ad expedita placeat, aspernatur dolore incidunt eos
        suscipit laboriosam est eligendi nemo! Doloremque eveniet, odio ea, quibusdam suscipit veniam doloribus ut
        dignissimos deleniti corporis culpa. Debitis facere, asperiores molestiae delectus eum perspiciatis a, accusamus
        nulla animi numquam nihil excepturi, iste pariatur aliquam ipsum quam odio cum nisi odit dolorum optio nobis
        adipisci? Ex illum, perspiciatis quod natus nobis corporis ipsa eaque, facere labore enim placeat eius
        consectetur alias totam, quo exercitationem ut voluptas odit itaque dolorum nesciunt suscipit?</p>
    </ion-card-content>
  </ion-card>
</ion-content>