<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>A Comp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        This is A component
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="tertiary" (click)="goToBComp()">Go to B-Comp</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" color="dark" (click)="goToCComp()" style="float: right;">Go to C-Comp</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ut, ad necessitatibus corrupti excepturi,
        enim tenetur, porro eligendi quae illo delectus magnam nisi deserunt? Temporibus saepe voluptates, deleniti
        recusandae assumenda molestias odio, ex qui corporis ullam veniam commodi illum pariatur?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Recusandae accusamus quam voluptatibus fugit libero earum quidem delectus
        praesentium excepturi molestias aspernatur, beatae natus quibusdam voluptas dolorem ducimus officiis reiciendis
        ipsum distinctio enim? Culpa dolorem accusantium excepturi ea voluptatum sed delectus, nulla ad vel nemo
        obcaecati voluptatibus? At corporis ipsam molestiae architecto quod aperiam voluptas. Quam molestiae esse illum
        aut corporis quidem, animi, id, alias totam placeat eligendi ipsa odit fugit veniam reprehenderit voluptatum sit
        aliquam omnis? Enim, cum natus. Quae, ipsum eligendi, nam distinctio sunt repellendus, sequi velit doloribus
        obcaecati assumenda sapiente necessitatibus eaque dolor et inventore. Quisquam non excepturi laborum, veniam
        omnis ipsa dolores quae animi officia amet debitis itaque totam, ut dolorum minus tempora qui? Cum possimus nemo
        deserunt non dicta quae assumenda laudantium aliquid! Assumenda dolores saepe temporibus iure est qui nisi sed
        architecto veniam. Quidem quas atque itaque sapiente voluptatum et suscipit natus, ipsam reiciendis pariatur,
        eaque autem eius maxime ipsa. Libero ratione magni, aliquid cupiditate eum commodi sapiente corporis vel. Fuga,
        aperiam ducimus itaque, quidem cum veritatis distinctio ad sed officiis ratione assumenda eius voluptates quae
        vel quia architecto porro facilis pariatur amet repellendus nisi necessitatibus dolor. Repellendus, inventore
        itaque! Reiciendis nulla soluta distinctio laudantium enim accusamus quasi maiores pariatur eius facilis
        corrupti ducimus cumque illo possimus dolorum molestias maxime adipisci quaerat eligendi error, vel doloribus
        inventore. Minus ducimus tempora et, corporis quia dolores debitis aut praesentium, dolore tenetur laboriosam
        ipsum pariatur obcaecati. Repellat, minima ducimus alias impedit.</p>
    </ion-card-content>
  </ion-card>
</ion-content>