<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>B Comp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        This is B component
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-start">
            <ion-button size="small" color="tertiary" (click)="goToCComp()">Go to C-Comp</ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end">
            <ion-button size="small" color="dark" (click)="goToAComp()" style="float: right;">Go to A-Comp</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quia nesciunt assumenda rem cupiditate, velit
        quis natus earum error adipisci ratione, excepturi fuga eum. Dignissimos eaque eveniet reprehenderit eos
        praesentium, soluta, sed obcaecati dolorum ex iusto dicta dolore, labore dolor rerum! Corporis fugit hic
        consequuntur quis eveniet libero itaque optio incidunt atque! Obcaecati repellendus voluptas ipsa? Incidunt
        dicta qui reiciendis dolor eveniet esse, odit dignissimos aspernatur voluptates vero illum dolores officia,
        voluptatem facilis et animi quod placeat minima dolorum voluptate.</p>
    </ion-card-content>
  </ion-card>
</ion-content>